<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200725392213-9kkdckmtk4qpg4pii1hqqdnih809dsoi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200725392213-9kkdckmtk4qpg4pii1hqqdnih809dsoi</string>
	<key>API_KEY</key>
	<string>AIzaSyDswjkSuj2tf_mvAuTMUd05gorw0XO1xaY</string>
	<key>GCM_SENDER_ID</key>
	<string>200725392213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTutorial</string>
	<key>PROJECT_ID</key>
	<string>bootcamp-tutorail</string>
	<key>STORAGE_BUCKET</key>
	<string>bootcamp-tutorail.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200725392213:ios:da64384cceb23bd4ad1ddc</string>
</dict>
</plist>